---
import "@fontsource/noto-sans";
import Slugify from "../components/Slugify.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="bg-gray-900 text-white w-full">
    <main
      class="px-4 py-24 md:p-8 flex w-full h-screen md:items-center justify-center"
    >
      <Slugify />
    </main>
  </body>
</html>
